* {
    box-sizing: border;
    margin: 0;
    padding: 0;
}

.login-page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

.login-elements {
    display: grid;
}

.login-form {
    display: grid;
}

.login-title {
    justify-self: center;
    grid-row: 1;
}

.password-group {
    display: flex;
    position: relative;
    align-items: center;
    grid-row: 3;
}

.show-password {
    position: absolute;
    left: 140px;
    border: 0;
    width: 20px;
    height: 18px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.show-password img {
    width: 18px;
    height: 18px
}

.input-login {
    width: 158px;
}

#login-btn {
    width: 162px;
}

.remember-me {
    display: grid;
    height: 20px;
    grid-template-columns: 16px 1fr;
    grid-template-rows: 20px;
    width: 162px;
}

.remember-me * {
    cursor: pointer;
}

.remember-me label {
    align-self: center;
    justify-self: start;
    transform: translateX(3px);
}

.sign-up-link {
    color: black;
    text-decoration: none;
}


.sign-up-link {
    justify-self: center;
    grid-row: 6;
}

