* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.input-login {
    height: 45px;
    width: 300px;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
}

.input-login + .show-password {
    opacity: 0;
    pointer-events: none;
}

.input-login-active + .show-password {
    opacity: 1;
    pointer-events: auto;
}

.input-login-active::placeholder {
    color: #3b3b3b;
}


